.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.spacer {
  flex: 1 1 auto;
}

.spacer-small {
  margin-left: 12px;
}

.sidenav-container {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  width: 240px;
}

.nav-label {
  margin-left: 16px;
}

.main-content {
  padding: 24px;
}

.active {
  background-color: rgba(0, 0, 0, 0.04);
}
